---
const { title, id } = Astro.props;
---

<div id={id} class="mt-5">
    <p class="text-gray-900 mb-3 font-ligh text-[14px]">
        Properties of : <span class="font-medium text-sm"> {title}</span>
    </p>
    <div class="font-medium flex flex-wrap basis-3 gap-5">
        <slot />
    </div>
</div>
