---
const { text } = Astro.props;
---

<li>
    <div
        class="bg-white hover:bg-[#00a3ff] group flex flex-col gap-1 items-center justify-start w-24 h-24 text-gray-900 rounded-lg hover:text-white group hover:drop-shadow-lg border cursor-pointer p-3 transition duration-700 ease-in-out"
    >
        <svg
            class="w-10 h-10 text-[#00a3ff] group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
        >
            <slot />
        </svg>

        <span
            class="text-center text-[10px] text-[#00a3ff] group-hover:text-white font-medium"
            >{text}</span
        >
    </div>
</li>
