---
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Preview from "../components/Preview.astro";
import RightSideBar from "../components/RightSideBar.astro";
import Tools from "../components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <div class="relative">
        <Nav />
        <Tools />
        <Preview />
    </div>
</Layout>
