---
import CanvasModal from "./modals/CanvasModal.astro";
import DelegateNameModal from "./modals/DelegateNameModal.astro";
import QrModal from "./modals/QrModal.astro";
import RegistrationModal from "./modals/RegistrationModal.astro";
import CategoryModal from "./modals/CategoryModal.astro";
import StateModal from "./modals/StateModal.astro";
import DesignationModal from "./modals/DesignationModal.astro";
import CompanyModal from "./modals/CompanyModal.astro";
import DaypassModel from "./modals/DaypassModel.astro";
import FacilitiesModall from "./modals/FacilitiesModall.astro";

const {} = Astro.props;
---

<div class="flex h-screen items-center justify-center w-full bg-[#f3f4f6]">
    <div
        id="preview-area"
        style="height: calc(100% - 50px);"
        class="flex items-center justify-center overflow-hidden canvas-container w-full"
    >
        <div id="add-canvas" class="p-4 sm:mx-[50px] w-3/6">
            <button
                onclick="showModal('authentication-modal')"
                class="w-full p-4 border-2 border-gray-700 border-dashed rounded-lg cursor-pointer"
            >
                <div
                    class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-white"
                >
                    <p class="text-2xl text-gray-400 dark:text-gray-500">
                        <svg
                            class="w-3.5 h-3.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 18 18"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 1v16M1 9h16"></path>
                        </svg>
                    </p>
                </div>
            </button>
        </div>
        <div class="flex flex-col">
            <div
                id="draggable-container"
                class="draggable-container bg-white border-2 border-gray-700 border-dashed shadow-xl bg-no-repeat bg-contain hidden"
            >
                <span
                    id="delegate-name"
                    class="draggable-rotatable select-none max-w-max hidden"
                    style="font-weight: 400; font-size: 16px; max-width: max-content; "
                >
                    Delegate Name
                </span>
                <span
                    id="registration-number"
                    class="draggable-rotatable select-none max-w-max hidden"
                    style="font-weight: 400; font-size: 16px; max-width: max-content; "
                >
                    000000
                </span>
                <span
                    id="category"
                    class="draggable-rotatable select-none max-w-max hidden"
                    style="font-weight: 400; font-size: 16px; max-width: max-content; "
                >
                    Category
                </span>
                <span
                    id="state"
                    class="draggable-rotatable select-none max-w-max hidden"
                    style="font-weight: 400; font-size: 16px; max-width: max-content; "
                >
                    State
                </span>
                <span
                    id="designation"
                    class="draggable-rotatable select-none max-w-max hidden"
                    style="font-weight: 400; font-size: 16px; max-width: max-content; "
                >
                    Designation
                </span>
                <span
                    id="company"
                    class="draggable-rotatable select-none max-w-max hidden"
                    style="font-weight: 400; font-size: 16px; max-width: max-content; "
                >
                    Company
                </span>
                <span
                    id="daypass"
                    class="draggable-rotatable max-w-max hidden"
                    style="font-weight: 400; font-size: 16px; max-width: max-content; "
                >
                    Day pass
                </span>
                <span
                    id="facilities"
                    class="draggable-rotatable max-w-max hidden"
                    style="font-weight: 400; font-size: 16px; max-width: max-content; "
                >
                    Facilities
                </span>

                <img
                    class="draggable-rotatable hidden"
                    id="qr-image"
                    src="/assets/img/Example-QR-code.webp"
                    alt=""
                />
            </div>
        </div>
    </div>
</div>
<CanvasModal />
<DelegateNameModal />
<QrModal />
<RegistrationModal />
<CategoryModal />
<StateModal />
<DesignationModal />
<CompanyModal />
<DaypassModel />
<FacilitiesModall />
