/* Print styles */
@media print {
    body * {
        visibility: hidden;
    }

    #draggable-container,
    #draggable-container * {
        visibility: visible;
        position: relative;
    }

    #draggable-container-clone,
    #draggable-container-clone * {
        visibility: visible;
        position: relative;
    }

    .rotate-180 {
        transform: rotate(180deg) !important;
        transform-origin: center;
    }

    .vertical-fold {
        position: relative;
        margin-bottom: 0; /* Ensure no extra margin if not needed */
    }

    .vertical-fold-clone {
        transform: rotate(180deg) !important;
        transform-origin: center;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
